$navbar-default-bg: #25445c;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  margin-top: 100px;
  background-image: asset-url('LiliGraphie.jpeg');
  background-size: cover;
  height: 275px;
  background-position: bottom;
}

.jumbotron h2, .jumbotron h3 {
  color: #25445c;
}
